**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/

/ansible/vars/secrets.yml

/docker-compose.override.yml

.DS_Store
.idea/
.vscode/
tmp/
temp/
*.log
